#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.names{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-Box{
  width: 90%;
  height: 200px;
}

.search-Box input{
  width:55%;
  height:40px;
  border-radius: 20px;
  margin-top: 50px;
  text-align: center;
}

.search-Box input:hover{
transform: scale(1.1);
  }

.search-Box button{
  margin-left: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 8px  10px;
}

.search-Box button:hover{
  transform: scale(1.1);
}

.weather{
  border: 1px solid black;
  width: 30%;
  display: flex;
  align-items: center;
  height: 500px;
  flex-direction: column;
  border-radius: 30px;
  background-color:azure;
  
}

.Weather-data{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
 
.img{
  width: 90%;
  height: 30%;  
  border-radius: 20px;
}

.temp{
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.feelsLike{
  display: flex;
  justify-content: space-between;
}